*{
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: #32a868 !important;
}
.navbar-brand{
    margin: auto;
    text-align: center;
}
.form-control{
    color: blue;
}

.one tr{
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}
.animate tr{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}
@-webkit-keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fadeIn tr{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #32a868;
    border-radius: 10px;
    
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #212529;
    border-radius: 10px;
}